
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<header role="banner" id="fh5co-header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="row">
						<div class="col-md-3">
							<div class="fh5co-navbar-brand">
								<a class="fh5co-logo" href="index">Narrow</a>
							</div>
						</div>
						<div class="col-md-9 main-nav">
							<ul class="nav text-right">
								<li ><a href="home"><span>Home</span></a></li>
								<li><a href="services">Services</a></li>
								<li><a href="product">Products</a></li>
								<li><a href="about">About</a></li>
								<li><a href="contact">Contact</a></li>
							</ul>
						</div>
					</div>
				</nav>
		  </div>
		</header>
		<script>
			function setNav() {
			  const currentUrl = window.location.pathname.split("/").pop();
			  console.log(currentUrl);
			  const aItems = document.querySelectorAll(".nav li a");
			  const liItems = document.querySelectorAll(".nav li");
		  
			  for (var i = 0; i < aItems.length; i++) {
				if (!currentUrl) {
				  liItems[0].classList.add("active");
				  return;
				}
		  
				if (aItems[i].getAttribute("href") === currentUrl) {
				  liItems[i].classList.add("active");
				}
		  }
			}
		  
			setNav();
		  </script>
		  
	</body>
	</html>
		